<!DOCTYPE html>

<html>

<head>
    <title> my first website</title>
</head>

<body>

    <h1> Ascii-Art-Web</h1>

<!---the line below provides a form for the user to interact with-->
<form action="/ascii-art" method="post">
        <label for="text">Enter a Text: </label><br> 
        <input id="text" type="text" name="text" placeholder="Enter text here.."><br> 

<!--the content in the select element are the dropdown menu-->
    <p>choose a banner font</p>
    <select>
        <option value="standard.txt">standard</option>
        <option value="shadow.txt">shadow</option>
        <option value="thinkertoy.txt">thinkertoy</option>

    </select><br><br>
    <button type="submit">Generate Art</button>
</form>

    
</body>
</html>