<!DOCTYPE html>

<html>

<head>
    <title> my first website</title>
</head>

<body>
<center>
    <h1>Ascii-Art-Web</h1>

    <!--this block create a user form -->
    <form action="/ascii-art" method="post">

        <label for="text" >Enter Your Text: </label>
        
        <input id="text" type="text" name="text" placeholder="type here..."><br><br>


        <label for="font" >Choose a banner</label><br>

        <select id="font" name="banner" required>

            <option value="" >-- select a style --</option>

            <option value="standard.txt">standard</option>
            <option value="shadow.txt">shadow</option>
            <option value="thinkertoy.txt">thinkertoy</option>

        </select><br><br>

        <button type="submit">Generate Art</button>
    </form>
    <pre></pre>
</center>
</body>
</html>